[Unit]
Description=Polaris postinstall daemon (temporary - DO NOT ENABLE!).

[Service]
ExecStart=/usr/bin/bash /etc/polaris-installer-postinstall.sh
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target